{% extends 'base.html' %}
{% load static %}
{% block title %}
    インターコスモス社員専用ページ
{% endblock %}
{% block header %}
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container">
                <h1 class="masthead-heading mb-0">インターコスモス</h1>
                <h2 class="masthead-subheading mb-0">社員専用ページ</h2>

            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>
{% endblock %}

{% block contents %}
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">パネル</h5>
                <p class="card-text">
                    パネルを作成したい時はここをクリック
                </p>
                <a href="{% url 'icorder:panel_create' %}" class="btn btn-primary">Panel</a>
            </div>
        </div>
    </div>
{% endblock %}